.main {
    background-color: #282c34;
    height: 100vh;
    width: 100%;
    display: flex;
}

summary {
    cursor: pointer;
}

menu {
    height: 100%;
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    gap: 20px;

    justify-content: center;

    position: fixed;
    z-index: 400;
    list-style: none;
    padding: 0 30px 0 0;
}

.card {
    font-size: 17px;
}

.header {
    margin: 20px 0 20px 0;
}

.header .org-name {
    font-weight: 700;

}

.features {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.feature {
    display: flex;
    align-items: center;
    gap: 7px;
}

.feature img {
    width: auto;
    height: 40px;
}

.filter {
    display: flex;
    flex-direction: column;
}

.filter-item {
    /*background: #282c34;*/
    color: aliceblue;
}

.filter-item label {
    display: flex;
    align-items: center;

    background: #282c34;
    padding: 10px;

    border: 2px solid transparent;
    border-radius: 5px;

    font-size: 20px;
    cursor: pointer;
}

.filter-item input {
    display: none;
}

.filter-item input:checked ~ label {
    border: 2px solid rgb(46, 95, 255);

}

.activity {
    font-size: 14px;
}

.contacts {
    font-size: 14px;
}

.contacts .address {
    margin: 10px 0 10px 0;
}

.contacts .email p {
    padding: 0;
    margin: 0;
}

.contacts .email {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.contacts .phones {
    margin: 10px 0 10px 0;
}

.contacts .phones .phone {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
}

.contacts .phones .phone p {
    padding: 0;
    margin: 0;
}

.contacts .website {
    text-align: center;
    margin: 10px 0 0 0;
}

.contacts .website a {
    text-decoration: none;

    border: 1px solid black;
    border-radius: 4px;

    font-weight: 500;

    color: white;
    background: #282c34;
    padding: 5px;
}

.mycluster {
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 24px;
}

.custom-marker-cluster{
    background: #ffffff;
    border: 7px solid #282c34;
    border-radius: 50%;
    color: #000000;
    height: 15px;
    line-height: 37px;
    text-align: center;
    width: 17px;
}

.hot-meals {
    font-size: 12px;
}

.programm {

}

.programm-list {
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.programm-item {
    padding: 0;
    margin: 0;
}

.programm-name p {
    margin: 0 !important;
    padding: 0 !important;
}

.programm-age {
    display: flex;
    gap: 10px;
}

.programm-age p {
    margin: 0 !important;
    padding: 0 !important;
}