@media (max-width: 767px) {

}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;
}

header,
footer {
  width: 100%;
  color: aliceblue;
  background-color: #282c34;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

summary {
  cursor: pointer;
}

.container {
  max-width: 1240px;
  margin: auto;
}

.main {
  background-color: #282c34;
  height: 78.9vh;
  width: 100%;
  display: flex;
}

.features {
  display: flex;
  flex-direction: column;
  gap: 15px;

  .feature {
    display: flex;
    align-items: center;
    gap: 7px;

    img {
      width: auto;
      height: 40px;
    }
  }
}

@keyframes slidein-left {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0%);
  }
}

@keyframes slidein-right {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateX(0%);
  }
}